<div class="m-50">
    <div class="pb-35">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                (click)="selectAlumno()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Click para marcar nombre (uso de directiva
                ngClass)</label>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let data of alumnosArray">
            <!--             <div class="card">
                <img src="{{data.imagen}}" class="card-img-top" alt="imagen alumno">
                <div class="card-body">
                    <h5 class="card-title" [ngClass]="{'rojo' : flag}">{{data.id}}. {{data.nombre | uppercase}}
                        {{data.apellido | uppercase}}</h5>
                    <div class="card-text">{{data.edad}} años</div>
                    <div class="card-text">{{data.direccion}}</div>
                </div>
            </div> -->
            <mat-card>
                <img mat-card-image src="{{data.imagen}}" alt="">
                <mat-card-header>
                    <mat-card-title>{{data.id}}. {{data.nombre | uppercase}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="pt-10">
                    <mat-card-subtitle>{{data.edad}} años</mat-card-subtitle>
                    <mat-card-subtitle>{{data.direccion}}</mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button (click)="editAlumn(data)">Editarm</button>
                    <button mat-button (click)="deleteAlumn()">Eliminar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>