<div class="card bg-light">
    <article class="card-body mx-auto mt-20" style="max-width: 900px;">
        <form [formGroup]="formClient" (ngSubmit)="editAlumn()" class="row g-3">
            <div class="col-md-6">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input type="nombre" class="form-control" id="inputNombre" placeholder="ingrese nombre"
                    formControlName="nombre" [ngClass]="{
                        'is-invalid':formClient.controls['nombre'].invalid && formClient.controls['nombre'].touched, 
                        'is-valid':formClient.controls['nombre'].valid
                    }">
                <div
                    *ngIf="formClient.controls['nombre'].invalid && (formClient.controls['nombre'].touched || formClient.controls['nombre'].dirty)">
                    <div *ngIf="formClient.controls['nombre'].errors?.['required']" class="textAlert">Este campo es
                        requerido
                    </div>
                    <div *ngIf="formClient.controls['nombre'].errors?.['maxlength']" class="textAlert">El nombre no
                        debe tener mas de 30 caracteres
                    </div>
                    <div *ngIf="formClient.controls['nombre'].errors?.['minlength']" class="textAlert">El nombre no
                        debe tener menos de 3 caracteres
                    </div>
                    <div *ngIf="formClient.controls['nombre'].errors?.['pattern']" class="textAlert">El nombre debe
                        contener solo letras
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputApellido" class="form-label">Apellido</label>
                <input type="apellido" class="form-control" id="inputApellido" placeholder="ingrese apellido"
                    formControlName="apellido" [ngClass]="{
                        'is-invalid':formClient.controls['apellido'].invalid && formClient.controls['apellido'].touched, 
                        'is-valid':formClient.controls['apellido'].valid
                    }">
                <div
                    *ngIf="formClient.controls['apellido'].invalid && (formClient.controls['apellido'].touched || formClient.controls['apellido'].dirty)">
                    <div *ngIf="formClient.controls['apellido'].errors?.['required']" class="textAlert">Este campo es
                        requerido
                    </div>
                    <div *ngIf="formClient.controls['apellido'].errors?.['maxlength']" class="textAlert">El apellido no
                        debe tener mas de 30 caracteres
                    </div>
                    <div *ngIf="formClient.controls['apellido'].errors?.['minlength']" class="textAlert">El apellido no
                        debe tener menos de 3 caracteres
                    </div>
                    <div *ngIf="formClient.controls['apellido'].errors?.['pattern']" class="textAlert">El apellido debe
                        contener solo letras
                    </div>
                </div>
            </div>
            <div class="col-7">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmail" placeholder="ingrese email"
                    formControlName="email" [ngClass]="{
                    'is-invalid':formClient.controls['email'].invalid && formClient.controls['email'].touched, 
                    'is-valid':formClient.controls['email'].valid
                }">
                <div
                    *ngIf="formClient.controls['email'].invalid && (formClient.controls['email'].touched || formClient.controls['email'].dirty)">
                    <div *ngIf="formClient.controls['email'].errors?.['required']" class="textAlert">Este campo es
                        requerido
                    </div>
                    <div *ngIf="formClient.controls['email'].errors?.['maxlength']" class="textAlert">El email no
                        debe tener mas de 40 caracteres
                    </div>
                    <div *ngIf="formClient.controls['email'].errors?.['minlength']" class="textAlert">El email no
                        debe tener menos de 3 caracteres
                    </div>
                    <div *ngIf="formClient.controls['email'].errors?.['pattern']" class="textAlert">El email ingresado
                        no es válido
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputEdad" class="form-label">Edad</label>
                <input type="edad" class="form-control" id="inputEdad" placeholder="ingrese edad" formControlName="edad"
                    [ngClass]="{
                        'is-invalid':formClient.controls['edad'].invalid && formClient.controls['edad'].touched, 
                        'is-valid':formClient.controls['edad'].valid
                    }">
                <div
                    *ngIf="formClient.controls['edad'].invalid && (formClient.controls['edad'].touched || formClient.controls['edad'].dirty)">
                    <div *ngIf="formClient.controls['edad'].errors?.['required']" class="textAlert">Este campo es
                        requerido
                    </div>
                    <div *ngIf="formClient.controls['edad'].errors?.['maxlength']" class="textAlert">La edad no
                        debe tener mas de 2 caracteres
                    </div>
                    <div *ngIf="formClient.controls['edad'].errors?.['minlength']" class="textAlert">La edad no
                        debe tener menos de 2 caracteres
                    </div>
                    <div *ngIf="formClient.controls['edad'].errors?.['pattern']" class="textAlert">La edad debe
                        contener solo números
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputDireccion" class="form-label">Dirección</label>
                <input type="direccion" class="form-control" id="inputDireccion" placeholder="ingrese dirección"
                    formControlName="direccion" [ngClass]="{
                        'is-invalid':formClient.controls['direccion'].invalid && formClient.controls['direccion'].touched, 
                        'is-valid':formClient.controls['direccion'].valid
                    }">
                <div
                    *ngIf="formClient.controls['direccion'].invalid && (formClient.controls['direccion'].touched || formClient.controls['direccion'].dirty)">
                    <div *ngIf="formClient.controls['direccion'].errors?.['required']" class="textAlert">Este campo es
                        requerido
                    </div>
                    <div *ngIf="formClient.controls['direccion'].errors?.['maxlength']" class="textAlert">La dirección
                        no
                        debe tener mas de 30 caracteres
                    </div>
                    <div *ngIf="formClient.controls['direccion'].errors?.['minlength']" class="textAlert">La dirección
                        no
                        debe tener menos de 3 caracteres
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputImagen" class="form-label">Imagen</label>
                <input type="imagen" class="form-control" id="inputImagen" placeholder="ingrese imagen"
                    formControlName="imagen" [ngClass]="{
                        'is-invalid':formClient.controls['imagen'].invalid && formClient.controls['imagen'].touched, 
                        'is-valid':formClient.controls['imagen'].valid
                    }">
            </div>
            <div class="col-5">
                <label for="inputTelefono" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="inputTelefono" placeholder="ingrese telefono"
                    formControlName="telefono" [ngClass]="{
                    'is-invalid':formClient.controls['telefono'].invalid && formClient.controls['telefono'].touched, 
                    'is-valid':formClient.controls['telefono'].valid}">
                <div
                    *ngIf="formClient.controls['telefono'].invalid && (formClient.controls['telefono'].touched || formClient.controls['telefono'].dirty)">
                    <div *ngIf="formClient.controls['telefono'].errors?.['required']" class="textAlert">Este campo es
                        requerido
                    </div>
                    <div *ngIf="formClient.controls['telefono'].errors?.['maxlength']" class="textAlert">El teléfono no
                        debe tener mas de 10 caracteres
                    </div>
                    <div *ngIf="formClient.controls['telefono'].errors?.['minlength']" class="textAlert">El teléfono no
                        debe tener menos de 7 caracteres
                    </div>
                    <div *ngIf="formClient.controls['telefono'].errors?.['pattern']" class="textAlert">El teléfono
                        ingresado no es válido
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-12 mt-30 mb-20">
                <button [disabled]="!formClient.valid" type="submit" class="btn btn-success btn-lg">Editar
                    Alumno</button>
            </div>
        </form>
    </article>
</div>