<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let alumno"> {{alumno.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
            <mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellido">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by apellido"> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let alumno"> {{alumno.apellido}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="imagen">
            <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
            <mat-cell *matCellDef="let alumno"><img [src]="alumno.imagen" [alt]="" width="50" /></mat-cell>
        </ng-container>

        <ng-container matColumnDef="edad">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let alumno"> {{alumno.edad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="direccion">
            <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
            <mat-cell *matCellDef="let alumno"> {{alumno.direccion}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of dataSource">
    </mat-paginator>
</div>